<h1>Welcome</h1>
<p></p>
<h4>Create Airplanes</h4>
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03">City</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03">Country</label>
      <select class="form-control" class="custom-select">
        <option selected>Select Country</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
